[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = git://github.com/tpope/vim-vinegar.git
